:root {
    // colors
    --primary-color: #F3F4EC;
    --secondary-color: #6C6E71;
    --forest-green: #292D33;
    --charcoal: #202020;
    --sunset: #D4491B;
    
    // typography
    --main-font: "indivisible", sans-serif;
    --support-font: "turnip", serif;
  }
  
  // add your custom styles here 👇

  @media (max-width: 768px) {
    .country-block {
    
      flex-direction: column !important;  /* stack image on top, text below */
      text-align: center;
      height: 100vh;
      border-radius: 5px;
      background-color: #F3F4EC;
      overflow: hidden;
      

      .image-container{
        height: 43%;
          aspect-ratio: 1/1;
        
        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 0px;
          object-fit: cover;
          margin:0;
          padding:0px;
        }
      }
      .content-container{
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        .caption-card {
          color: #D4491B;
          margin: 0px;
          margin-left: 0.625rem;
          margin-right: 0.625rem;
          font-size: 1.25rem;
        }
        .heading-card {
          margin-top: 0.5rem;
        font-size: 2rem;
        margin-left: 0.625rem;
          margin-right: 0.625rem;
      }

      
      .body-card {
        margin-top: 0.875rem;
        margin-left: 0.625rem;
          margin-right: 0.625rem;
          font-size: 1.0625 rem;
      }
      .button-card{
        margin-top: 1.875rem;
        font-size: 1.125rem;
        margin-bottom: 0px;
    }
  }
 }  
}

  @media (min-width: 768px)
{
  .country-block {
    display: flex;
    gap: 0px;
    padding: 0px;
    align-items: stretch;   /* make both columns equal height */
    width: 100%;
    height: 640px;
  
    .image-container {
      width: 50%;
  
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        object-fit: cover;
        margin:0;
        padding:0px;
      }
    }
  
    .content-container {
      flex: 1;
    }
  
    &.reverse {
      flex-direction: row-reverse;
    }
  }
  .content-container{
    padding-left: 70px;
    padding-right: 100px;
    padding-top: 105px;
    padding-bottom: 122px;
    background-color: #F3F4EC;

    .caption-card {
      color: #D4491B;
      margin-bottom: 0rem;
      font-size: 1.3rem;
    }
    
    .heading-card {
      margin-top: 0.625rem; 
      margin-bottom: 1.3rem;
      font-size: 3.225em;
    }
    
    .body-card {
      margin-bottom: 2.6rem;
      font-size: 1.3rem;
    }
    
    
  }
}

  .content-container { 
    .button-card{
      padding: 0.71875rem 5.6875rem;
      font-size: 1.125rem;
      background-color: black;
      color: white;
      border-radius: 9999px;
    }
}




